@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/list-group";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

@import '@fortawesome/fontawesome-free/css/all.css';

.jme-handle {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.ghost {
  opacity: 0.5;
  background-color: #48c18a;
}

.chosen {
  color: #fff;
  background-color: #c00;
}

.list-group-item {
  padding-right: 0px;
}

.list-group-item>.list-group>.list-group-item:first-child {
  margin-top: 8px;
}

.btn-group,
.btn-group-vertical {
  margin-right: 7px;
}


.icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.icon-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.icon-list div:hover {
  background-color: #f0f0f0;
}